@use '../abstract/mixin' as mx;

.card {
    height: 80px;
    width: 80px;
    padding: 0;
    border: none;
    border-radius: var(--border-radius, 0px);
    background-color: rgba(var(--background-color));
    cursor: pointer;

    &__inner {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 300ms ease-in-out;
        border-radius: var(--border-radius, 0px);
        background-image: var(--card-back);
        background-position: center;

        @include mx.flex-center();
    }

    &__face {
        position: absolute;
        inset: 0;
        border-radius: var(--border-radius, 0px);
        backface-visibility: hidden;

        &--back {
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-origin: content-box;
            padding: 5px;
            background-color: #F6F1F3;

            @include mx.fade-in(0.256s);
        }
    }

    &.is-flipped .card__inner {
        transform: rotateY(180deg);
    }
}

.card.matched.blue {
    outline: 4px solid #4da6ff;
    animation: matchedGlow 2s linear infinite;
}

.card.matched.orange {
    outline: 4px solid #ff9d42;
    animation: matchedGlow 2s linear infinite;
}