@use '../abstract/mixin' as mx;

.content {
    display: flex;
    width: calc(100% - 200px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.field {
    display: grid;
    gap: 10px;
    padding-bottom: 54px;
    flex-wrap: wrap;
}