.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hidden {
    display: none;
}

.overlayContent {
    width: 100%;
    height: 100%;
    background-color: var(--background-color, white);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.winner {
    width: 120px;
    height: auto;
    margin: 1rem 0;
}

.confetti {
    width: 80%;
}

.gameOverImg {
    padding-bottom: 100px;
}

.draw {
padding-bottom: 64px;
}

.scale {
padding-bottom: 64px;
}