@use '../abstract/mixin' as mx;

body.setting {
    background-color: white;
    color: #303131;
}

.settings {
    height: 100%;
    width: 100%;
    @include mx.flex-center(column);
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 150px 0px 150px;

    >p {
        display: flex;
        font-size: 54px;
        font-weight: 700;
        margin-bottom: 0;
    }

    &__lower {
        width: 100%;
        @include mx.flex-center(row);
        align-items: flex-start;
        justify-content: space-between;

    }

    &__right {
        @include mx.flex-center(column);
        align-items: flex-end;
        gap: 16px;
    }

    &__board {
        @include mx.flex-center(row);
        gap: 16px;
    }

}

.titleUnderline {
    position: absolute;
    top: 110px;
    left: 125px;
}

.settingTitle {
    @include mx.flex-center(row);
    justify-content: flex-start;
    font-size: 24px;
    font-weight: bold;
    gap: 10px;
}

.optionLine {
    height: 100%;
    width: 50px;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.custom-radio {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 18px;
}

.custom-radio:hover {
    font-weight: 700;
}

.custom-radio input {
    display: none;
}

.radio-circle {
    width: 20px;
    height: 20px;
    border: 2px solid #303131;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

/* innerer Punkt beim Klick */
.custom-radio input:checked+.radio-circle::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #303131;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-radio:has(input:checked) {
    font-weight: 700;
}

.custom-radio:has(input:checked) .optionLine {
    opacity: 1;
}

.custom-radio:hover .optionLine {
    opacity: 1;
}

.settings__board {
    background-color: #F6F6F6;
    padding: 14px 20px 14px 20px;
    font-size: 18px;
}

.startButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Rose', serif;
    font-size: 18px;
    font-weight: 700;
    height: 53px;
    width: 126px;
    background-color: #F0EA6E;
    gap: 10px;
    cursor: pointer;

    &__display {
        height: 22px;
        width: 28px;
    }
}