@use '../styles/base/typography';
@use '../styles/abstract/mixin' as mx;
@use '../styles/components/style';





body {
    height: 100vh;
    background-color: var(--background-color, white);
    color: white;
    @include mx.flex-center(column);

    //für die weiteren themes:
    // border-radius: var(--border-radius, 0px);
    // border-color: var(--border-color, none);
    // font-size: var(--font-size, 16px);

    // background-image: url(--card-back);
    // background-color: var(--button-color, "#ED1B7614");

}