@use '../styles/base/typography';
@use '../styles/abstract/mixin' as mx;
@use '../styles/components/style';

@font-face {
  font-family: 'Red Rose';
  src: url('/assets/fonts/redrose-variablefont_wght-webfont.ttf') format('truetype');
  font-optical-sizing: auto;
  font-weight: 300 - 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Red Rose', serif;
  height: 100%;
}

body {
    height: 100%;
    background-color: var(--background-color, white);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;

    //für die weiteren themes:
    // border-radius: var(--border-radius, 0px);
    // border-color: var(--border-color, none);
    // font-size: var(--font-size, 16px);

    // background-image: url(--card-back);
    // background-color: var(--button-color, "#ED1B7614");

}



h1 {
  font-weight: 700;
}

p {
  font-weight: 400; /* geht dank Variable Font */
}
