@use '../styles/base/typography';
@use '../styles/abstract/mixin' as mx;
@use '../styles/components/style';


$bg-vibes: #303131;
$bg-gaming: #294F60;


body {
    height: 100vh;

    @include mx.flex-center(column);
    @include mx.theme($bg-gaming);
}
